name: Auto Build on Changes

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and Push
      run: |
        docker build -t ghcr.io/ndikzone/nodejs-pm2:24 -f nodejs/24/Dockerfile .
        docker push ghcr.io/ndikzone/nodejs-pm2:24
        docker tag ghcr.io/ndikzone/nodejs-pm2:24 ghcr.io/ndikzone/nodejs-pm2:latest
        docker push ghcr.io/ndikzone/nodejs-pm2:latest